body{
    margin: 0;
    margin-bottom: 0;
}
.back{
    height: 100vh;
    background-image: url("46455411.jpg");
}
.icon{
    height:150px;
    width:150px;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid rgb(22, 74, 38);
    box-shadow: 5px 5px rgb(160, 154, 154,0.6);
}

.playerchoice{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.icon:hover{
    transform: scale(1.3);
    box-shadow: 0 0 10px 10px rgba(17, 156, 42, 0.5);
    cursor:pointer;
}

.container{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

.scorecard{
    min-height:50px;
    min-width:300px;
    display: flex;
    flex:1;
    background-color:rgb(48, 189, 40);
    color: white;
    color: white;
    font-size: 30px;
    gap: 20px;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    border: 2px solid rgb(22, 83, 39);
    border-radius: 50px;
    box-shadow: 0 5px rgb(160, 154, 154);

}

.computermssge{
    height: 40px;
    width: 200px;
    background-color:rgb(48, 189, 40);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    border: 2px solid rgb(22, 83, 39);
    border-radius: 50px;
    box-shadow: 0 5px rgb(160, 154, 154);
}

.result{
    z-index: 2;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.show{
    display: flex;
}
.winnin_mssge{
    font-size: 30px;
    color: rgb(27, 201, 76);
    font-weight: bold;

}
.restart{
    padding: 10px;
    font-size: 15px;
    border: 2px solid rgb(22, 83, 39);
    border-radius: 50px;
    box-shadow: rgb(160, 154, 154);
    cursor:pointer;
    background-color: beige;
    font-weight: bold;
    
}
.restart:hover{
    transform: scale(1.3);
    box-shadow: 0 0 5px 5px rgba(2, 8, 3, 0.5);
    cursor:pointer;
}


